  <div class="swiper category-swiper">
    <div class="swiper-wrapper category-swiper__wrapper">
      <div class="swiper-slide category-swiper__slide category-swiper__slide_jacket">
        <h2 class="category-swiper__slide-title">Пиджаки</h2>
        <a href="#" class="category-swiper__slide-link">в наших магазинах</a>
      </div>

      <div class="swiper-slide category-swiper__slide category-swiper__slide_business">
        <h2 class="category-swiper__slide-title">Деловой стиль</h2>
        <a href="#" class="category-swiper__slide-link">узнать больше</a>
      </div>

      <div class="swiper-slide category-swiper__slide category-swiper__slide_shirt">
        <h2 class="category-swiper__slide-title">Рубашки</h2>
        <a href="#" class="category-swiper__slide-link">Сегодня акция</a>
      </div>

      <div class="swiper-slide category-swiper__slide category-swiper__slide_jacket">
        <h2 class="category-swiper__slide-title">Пиджаки</h2>
        <a href="#" class="category-swiper__slide-link">в наших магазинах</a>
      </div>

      <div class="swiper-slide category-swiper__slide category-swiper__slide_business">
        <h2 class="category-swiper__slide-title">Деловой стиль</h2>
        <a href="#" class="category-swiper__slide-link">узнать больше</a>
      </div>

      <div class="swiper-slide category-swiper__slide category-swiper__slide_shirt">
        <h2 class="category-swiper__slide-title">Рубашки</h2>
        <a href="#" class="category-swiper__slide-link">Сегодня акция</a>
      </div>
    </div>
  </div>
