<section class="section category">
  <ul class="category__list">
    <li class="category__item">
      <img src="img/svg/dress.svg" alt="Категория платья" class="category__item-img">
      <h3 class="category__item-title">
        Платья
      </h3>
    </li>
    <li class="category__item">
      <img src="img/svg/coat.svg" alt="Категория шубы" class="category__item-img">
      <h3 class="category__item-title">
        шубы
      </h3>
    </li>
    <li class="category__item">
      <img src="img/svg/jacket.svg" alt="Категория пиджаки" class="category__item-img">
      <h3 class="category__item-title">
        пиджаки
      </h3>
    </li>
    <li class="category__item">
      <img src="img/svg/blouse.svg" alt="Категория блузки" class="category__item-img">
      <h3 class="category__item-title">
        блузки
      </h3>
    </li>
    <li class="category__item">
      <img src="img/svg/jeans.svg" alt="Категория джинсы" class="category__item-img">
      <h3 class="category__item-title">
        Джинсы
      </h3>
    </li>
    <li class="category__item">
      <img src="img/svg/shirt.svg" alt="Категория рубашки" class="category__item-img">
      <h3 class="category__item-title">
        рубашки
      </h3>
    </li>
  </ul>
</section>
