<section class="section offers">
<div class="offers__tab-btns">
  <button class="offer__btn offer__btn_active" data-path="best">Лучшие предложения недели</button>
  <button class="offer__btn" data-path="new">Новинки</button>
  <button class="offer__btn" data-path="sale">Рекомендуем</button>
  <div class="offers__swiper-btns">
    <div class="swiper-button-prev offers__swiper-button-prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="36.97" height="10" viewBox="0 0 36.97 10">
        <path d="M1781,795v10l6.98-5.5Zm-30.01,4v2h31.11v-2h-31.11Z" transform="translate(-1751 -795)"/>
      </svg>
    </div>
    <div class="swiper-button-next offers__swiper-button-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="36.97" height="10" viewBox="0 0 36.97 10">
        <path d="M1781,795v10l6.98-5.5Zm-30.01,4v2h31.11v-2h-31.11Z" transform="translate(-1751 -795)"/>
      </svg>
    </div>
  </div>
</div>

<div class="swiper offers__swiper">
  <div class="swiper-wrapper offers__swiper-wrapper">
    <div class="swiper-slide offers__slide" data-target="new" tabindex="0">
      <div class="front-slide offer">
        <img src="img/content/shirt.jpg" alt="Кожанная юбка" class="offer__img">
        <div class="offer__category">
          <img class="offer__category-img" src="img/svg/flag-france.svg" alt="">
          <div class="offer__category-name">new</div>
        </div>
        <div class="offer__text">
          <h3 class="offer__text-title">
            Кожанная юбка
          </h3>
          <p class="offer__text-description">
            Описание:Полосатая кофта из полосатого трикотажа. без молнии
          </p>

          <div class="offer__text-container">
            <div class="offer__size-container">
              <div class="offer__size-btns">
                <label class="offer__size-label">
                  <input type="radio" id="size-1" name="size-1" value="44" checked>
                  <span>44</span>
                </label>
              </div>
              <p class="offer__size-descr">РАЗМЕР</p>
            </div>

            <div class="offer__price">
              <div class="offer__price-container">
                <div class="offer__price-new">790 p.</div>
              </div>
              <button class="offer__price-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22">
                  <path id="basket_копия" d="M1743.8,1488a0.825,0.825,0,0,0,0,1.65h2.55l2.75,13.38a1.025,1.025,0,0,0,.83.92h13.35a0.825,0.825,0,0,0,0-1.65h-12.7l-0.34-1.65h14.1a0.828,0.828,0,0,0,.78-0.65l1.87-8.24a0.862,0.862,0,0,0-.78-1.01h-17.99l-0.44-2.1a0.83,0.83,0,0,0-.78-0.65h-3.2Zm4.75,4.4h4.85v2.47h-4.34Zm6.45,0h3.74v2.47H1755v-2.47Zm5.34,0h4.86l-0.56,2.47h-4.3v-2.47Zm-10.94,4.12h4V1499h-3.49Zm5.6,0h3.74V1499H1755v-2.48Zm5.34,0h3.93l-0.56,2.48h-3.37v-2.48Zm-7.74,7.98a2.751,2.751,0,1,0,2.67,2.75A2.726,2.726,0,0,0,1752.6,1504.5Zm8.01,0a2.751,2.751,0,1,0,2.67,2.75A2.719,2.719,0,0,0,1760.61,1504.5Zm-8.01,1.65a1.1,1.1,0,1,1-1.07,1.1A1.072,1.072,0,0,1,1752.6,1506.15Zm8.01,0a1.1,1.1,0,1,1-1.07,1.1A1.064,1.064,0,0,1,1760.61,1506.15Z" transform="translate(-1743 -1488)"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="inside-slide">
        <table class="inside-slide__table">
          <tr>
            <td>Материал</td>
            <td>Хлопок</td>
          </tr>
          <tr>
            <td>Сезон</td>
            <td>Лето</td>
          </tr>
          <tr>
            <td>Страна-производитель</td>
            <td>Франция</td>
          </tr>
          <tr>
            <td>Длина</td>
            <td>Мини</td>
          </tr>
        </table>

        <a href="#" class="inside-slide__link">
          Перейти в карточку
        </a>
      </div>
    </div>

    <div class="swiper-slide offers__slide" data-target="sale" tabindex="0">
      <div class="front-slide offer">
        <img src="img/content/dress_2.jpg" alt="Кожанная юбка" class="offer__img">
        <div class="offer__category">
          <img class="offer__category-img" src="img/svg/flag-france.svg" alt="">
          <div class="offer__category-name">sale</div>
        </div>
        <div class="offer__text">
          <h3 class="offer__text-title">
            Платье в горох с поясом
          </h3>
          <p class="offer__text-description">
            Описание:Полосатая кофта из полосатого трикотажа. без молнии
          </p>

          <div class="offer__text-container">
            <div class="offer__size-container">
              <div class="offer__size-btns">
                <label class="offer__size-label">
                  <input type="radio" id="size-2" name="size-2" value="44" checked>
                  <span>44</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-3" name="size-2" value="46">
                  <span>46</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-4" name="size-2" value="48">
                  <span>48</span>
                </label>
              </div>
              <p class="offer__size-descr">РАЗМЕР</p>
            </div>

            <div class="offer__price">
              <div class="offer__price-container">
                <div class="offer__price-old">1190 p.</div>
                <div class="offer__price-new">790 p.</div>
              </div>
              <button class="offer__price-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22">
                  <path id="basket_копия" d="M1743.8,1488a0.825,0.825,0,0,0,0,1.65h2.55l2.75,13.38a1.025,1.025,0,0,0,.83.92h13.35a0.825,0.825,0,0,0,0-1.65h-12.7l-0.34-1.65h14.1a0.828,0.828,0,0,0,.78-0.65l1.87-8.24a0.862,0.862,0,0,0-.78-1.01h-17.99l-0.44-2.1a0.83,0.83,0,0,0-.78-0.65h-3.2Zm4.75,4.4h4.85v2.47h-4.34Zm6.45,0h3.74v2.47H1755v-2.47Zm5.34,0h4.86l-0.56,2.47h-4.3v-2.47Zm-10.94,4.12h4V1499h-3.49Zm5.6,0h3.74V1499H1755v-2.48Zm5.34,0h3.93l-0.56,2.48h-3.37v-2.48Zm-7.74,7.98a2.751,2.751,0,1,0,2.67,2.75A2.726,2.726,0,0,0,1752.6,1504.5Zm8.01,0a2.751,2.751,0,1,0,2.67,2.75A2.719,2.719,0,0,0,1760.61,1504.5Zm-8.01,1.65a1.1,1.1,0,1,1-1.07,1.1A1.072,1.072,0,0,1,1752.6,1506.15Zm8.01,0a1.1,1.1,0,1,1-1.07,1.1A1.064,1.064,0,0,1,1760.61,1506.15Z" transform="translate(-1743 -1488)"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="inside-slide">
        <table class="inside-slide__table">
          <tr>
            <td>Материал</td>
            <td>Хлопок</td>
          </tr>
          <tr>
            <td>Сезон</td>
            <td>Лето</td>
          </tr>
          <tr>
            <td>Страна-производитель</td>
            <td>Франция</td>
          </tr>
          <tr>
            <td>Длина</td>
            <td>Мини</td>
          </tr>
        </table>

        <a href="#" class="inside-slide__link">
          Перейти в карточку
        </a>
      </div>
    </div>

    <div class="swiper-slide offers__slide" data-target="new">
      <div class="front-slide offer">
        <img src="img/content/dress_3.jpg" alt="Кожанная юбка" class="offer__img">
        <div class="offer__category">
          <img class="offer__category-img" src="img/svg/flag-italy.svg" alt="">
          <div class="offer__category-name">new</div>
        </div>
        <div class="offer__text">
          <h3 class="offer__text-title">
            Розовое платье
          </h3>
          <p class="offer__text-description">
            Описание:Полосатая кофта из полосатого трикотажа. без молнии
          </p>

          <div class="offer__text-container">
            <div class="offer__size-container">
              <div class="offer__size-btns">
                <label class="offer__size-label">
                  <input type="radio" id="size-5" name="size-5" value="44" checked>
                  <span>44</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-6" name="size-5" value="46">
                  <span>46</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-7" name="size-5" value="48">
                  <span>48</span>
                </label>
              </div>
              <p class="offer__size-descr">РАЗМЕР</p>
            </div>

            <div class="offer__price">
              <div class="offer__price-container">
                <div class="offer__price-new">790 p.</div>
              </div>
              <button class="offer__price-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22">
                  <path id="basket_копия" d="M1743.8,1488a0.825,0.825,0,0,0,0,1.65h2.55l2.75,13.38a1.025,1.025,0,0,0,.83.92h13.35a0.825,0.825,0,0,0,0-1.65h-12.7l-0.34-1.65h14.1a0.828,0.828,0,0,0,.78-0.65l1.87-8.24a0.862,0.862,0,0,0-.78-1.01h-17.99l-0.44-2.1a0.83,0.83,0,0,0-.78-0.65h-3.2Zm4.75,4.4h4.85v2.47h-4.34Zm6.45,0h3.74v2.47H1755v-2.47Zm5.34,0h4.86l-0.56,2.47h-4.3v-2.47Zm-10.94,4.12h4V1499h-3.49Zm5.6,0h3.74V1499H1755v-2.48Zm5.34,0h3.93l-0.56,2.48h-3.37v-2.48Zm-7.74,7.98a2.751,2.751,0,1,0,2.67,2.75A2.726,2.726,0,0,0,1752.6,1504.5Zm8.01,0a2.751,2.751,0,1,0,2.67,2.75A2.719,2.719,0,0,0,1760.61,1504.5Zm-8.01,1.65a1.1,1.1,0,1,1-1.07,1.1A1.072,1.072,0,0,1,1752.6,1506.15Zm8.01,0a1.1,1.1,0,1,1-1.07,1.1A1.064,1.064,0,0,1,1760.61,1506.15Z" transform="translate(-1743 -1488)"/>
                </svg>
              </button>
            </div>
          </div>
        </div tabindex="0">
      </div>

      <div class="inside-slide">
        <table class="inside-slide__table">
          <tr>
            <td>Материал</td>
            <td>Хлопок</td>
          </tr>
          <tr>
            <td>Сезон</td>
            <td>Лето</td>
          </tr>
          <tr>
            <td>Страна-производитель</td>
            <td>Франция</td>
          </tr>
          <tr>
            <td>Длина</td>
            <td>Мини</td>
          </tr>
        </table>

        <a href="#" class="inside-slide__link">
          Перейти в карточку
        </a>
      </div>
    </div>

    <div class="swiper-slide offers__slide" data-target="new">
      <div class="front-slide offer">
        <img src="img/content/dress_4.jpg" alt="Кожанная юбка" class="offer__img">
        <div class="offer__category">
          <img class="offer__category-img" src="img/svg/flag-france.svg" alt="">
          <div class="offer__category-name">new</div>
        </div>
        <div class="offer__text">
          <h3 class="offer__text-title">
            Полосатая кофта
          </h3>
          <p class="offer__text-description">
            Описание:Полосатая кофта из полосатого трикотажа. без молнии
          </p>

          <div class="offer__text-container">
            <div class="offer__size-container">
              <div class="offer__size-btns">
                <label class="offer__size-label">
                  <input type="radio" id="size-8" name="size-8" value="44" checked>
                  <span>44</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-9" name="size-8" value="46">
                  <span>46</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-10" name="size-8" value="48">
                  <span>48</span>
                </label>
              </div>
              <p class="offer__size-descr">РАЗМЕР</p>
            </div>

            <div class="offer__price">
              <div class="offer__price-container">
                <div class="offer__price-new">790 p.</div>
              </div>
              <button class="offer__price-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22">
                  <path id="basket_копия" d="M1743.8,1488a0.825,0.825,0,0,0,0,1.65h2.55l2.75,13.38a1.025,1.025,0,0,0,.83.92h13.35a0.825,0.825,0,0,0,0-1.65h-12.7l-0.34-1.65h14.1a0.828,0.828,0,0,0,.78-0.65l1.87-8.24a0.862,0.862,0,0,0-.78-1.01h-17.99l-0.44-2.1a0.83,0.83,0,0,0-.78-0.65h-3.2Zm4.75,4.4h4.85v2.47h-4.34Zm6.45,0h3.74v2.47H1755v-2.47Zm5.34,0h4.86l-0.56,2.47h-4.3v-2.47Zm-10.94,4.12h4V1499h-3.49Zm5.6,0h3.74V1499H1755v-2.48Zm5.34,0h3.93l-0.56,2.48h-3.37v-2.48Zm-7.74,7.98a2.751,2.751,0,1,0,2.67,2.75A2.726,2.726,0,0,0,1752.6,1504.5Zm8.01,0a2.751,2.751,0,1,0,2.67,2.75A2.719,2.719,0,0,0,1760.61,1504.5Zm-8.01,1.65a1.1,1.1,0,1,1-1.07,1.1A1.072,1.072,0,0,1,1752.6,1506.15Zm8.01,0a1.1,1.1,0,1,1-1.07,1.1A1.064,1.064,0,0,1,1760.61,1506.15Z" transform="translate(-1743 -1488)"/>
                </svg>
              </button>
            </div>
          </div tabindex="0">
        </div>
      </div>
      <div class="inside-slide">
        <table class="inside-slide__table">
          <tr>
            <td>Материал</td>
            <td>Хлопок</td>
          </tr>
          <tr>
            <td>Сезон</td>
            <td>Лето</td>
          </tr>
          <tr>
            <td>Страна-производитель</td>
            <td>Франция</td>
          </tr>
          <tr>
            <td>Длина</td>
            <td>Мини</td>
          </tr>
        </table>

        <a href="#" class="inside-slide__link">
          Перейти в карточку
        </a>
      </div>
    </div>

    <div class="swiper-slide offers__slide" data-target="new">
      <div class="front-slide offer">
        <img src="img/content/shirt.jpg" alt="Кожанная юбка" class="offer__img">
        <div class="offer__category">
          <img class="offer__category-img" src="img/svg/flag-france.svg" alt="">
          <div class="offer__category-name">new</div>
        </div>
        <div class="offer__text">
          <h3 class="offer__text-title">
            Кожанная юбка
          </h3>
          <p class="offer__text-description">
            Описание:Полосатая кофта из полосатого трикотажа. без молнии
          </p>

          <div class="offer__text-container">
            <div class="offer__size-container">
              <div class="offer__size-btns">
                <label class="offer__size-label">
                  <input type="radio" id="size-11" name="size-11" value="44" checked>
                  <span>44</span>
                </label>
              </div>
              <p class="offer__size-descr">РАЗМЕР</p>
            </div>

            <div class="offer__price">
              <div class="offer__price-container">
                <div class="offer__price-new">790 p.</div>
              </div>
              <button class="offer__price-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22">
                  <path id="basket_копия" d="M1743.8,1488a0.825,0.825,0,0,0,0,1.65h2.55l2.75,13.38a1.025,1.025,0,0,0,.83.92h13.35a0.825,0.825,0,0,0,0-1.65h-12.7l-0.34-1.65h14.1a0.828,0.828,0,0,0,.78-0.65l1.87-8.24a0.862,0.862,0,0,0-.78-1.01h-17.99l-0.44-2.1a0.83,0.83,0,0,0-.78-0.65h-3.2Zm4.75,4.4h4.85v2.47h-4.34Zm6.45,0h3.74v2.47H1755v-2.47Zm5.34,0h4.86l-0.56,2.47h-4.3v-2.47Zm-10.94,4.12h4V1499h-3.49Zm5.6,0h3.74V1499H1755v-2.48Zm5.34,0h3.93l-0.56,2.48h-3.37v-2.48Zm-7.74,7.98a2.751,2.751,0,1,0,2.67,2.75A2.726,2.726,0,0,0,1752.6,1504.5Zm8.01,0a2.751,2.751,0,1,0,2.67,2.75A2.719,2.719,0,0,0,1760.61,1504.5Zm-8.01,1.65a1.1,1.1,0,1,1-1.07,1.1A1.072,1.072,0,0,1,1752.6,1506.15Zm8.01,0a1.1,1.1,0,1,1-1.07,1.1A1.064,1.064,0,0,1,1760.61,1506.15Z" transform="translate(-1743 -1488)"/>
                </svg>
              </button>
            </div>
          </div tabindex="0">
        </div>
      </div>
      <div class="inside-slide">
        <table class="inside-slide__table">
          <tr>
            <td>Материал</td>
            <td>Хлопок</td>
          </tr>
          <tr>
            <td>Сезон</td>
            <td>Лето</td>
          </tr>
          <tr>
            <td>Страна-производитель</td>
            <td>Франция</td>
          </tr>
          <tr>
            <td>Длина</td>
            <td>Мини</td>
          </tr>
        </table>

        <a href="#" class="inside-slide__link">
          Перейти в карточку
        </a>
      </div>
    </div>

    <div class="swiper-slide offers__slide" data-target="sale">
      <div class="front-slide offer">
        <img src="img/content/dress_2.jpg" alt="Кожанная юбка" class="offer__img">
        <div class="offer__category">
          <img class="offer__category-img" src="img/svg/flag-france.svg" alt="">
          <div class="offer__category-name">sale</div>
        </div>
        <div class="offer__text">
          <h3 class="offer__text-title">
            Платье в горох с поясом
          </h3>
          <p class="offer__text-description">
            Описание:Полосатая кофта из полосатого трикотажа. без молнии
          </p>

          <div class="offer__text-container">
            <div class="offer__size-container">
              <div class="offer__size-btns">
                <label class="offer__size-label">
                  <input type="radio" id="size-12" name="size-12" value="44" checked>
                  <span>44</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-13" name="size-12" value="46">
                  <span>46</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-14" name="size-12" value="48">
                  <span>48</span>
                </label>
              </div>
              <p class="offer__size-descr">РАЗМЕР</p>
            </div>

            <div class="offer__price">
              <div class="offer__price-container">
                <div class="offer__price-old">1190 p.</div>
                <div class="offer__price-new">790 p.</div>
              </div>
              <button class="offer__price-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22">
                  <path id="basket_копия" d="M1743.8,1488a0.825,0.825,0,0,0,0,1.65h2.55l2.75,13.38a1.025,1.025,0,0,0,.83.92h13.35a0.825,0.825,0,0,0,0-1.65h-12.7l-0.34-1.65h14.1a0.828,0.828,0,0,0,.78-0.65l1.87-8.24a0.862,0.862,0,0,0-.78-1.01h-17.99l-0.44-2.1a0.83,0.83,0,0,0-.78-0.65h-3.2Zm4.75,4.4h4.85v2.47h-4.34Zm6.45,0h3.74v2.47H1755v-2.47Zm5.34,0h4.86l-0.56,2.47h-4.3v-2.47Zm-10.94,4.12h4V1499h-3.49Zm5.6,0h3.74V1499H1755v-2.48Zm5.34,0h3.93l-0.56,2.48h-3.37v-2.48Zm-7.74,7.98a2.751,2.751,0,1,0,2.67,2.75A2.726,2.726,0,0,0,1752.6,1504.5Zm8.01,0a2.751,2.751,0,1,0,2.67,2.75A2.719,2.719,0,0,0,1760.61,1504.5Zm-8.01,1.65a1.1,1.1,0,1,1-1.07,1.1A1.072,1.072,0,0,1,1752.6,1506.15Zm8.01,0a1.1,1.1,0,1,1-1.07,1.1A1.064,1.064,0,0,1,1760.61,1506.15Z" transform="translate(-1743 -1488)"/>
                </svg>
              </button>
            </div>
          </div tabindex="0">
        </div>
      </div>
      <div class="inside-slide">
        <table class="inside-slide__table">
          <tr>
            <td>Материал</td>
            <td>Хлопок</td>
          </tr>
          <tr>
            <td>Сезон</td>
            <td>Лето</td>
          </tr>
          <tr>
            <td>Страна-производитель</td>
            <td>Франция</td>
          </tr>
          <tr>
            <td>Длина</td>
            <td>Мини</td>
          </tr>
        </table>

        <a href="#" class="inside-slide__link">
          Перейти в карточку
        </a>
      </div>
    </div>

    <div class="swiper-slide offers__slide" data-target="new">
      <div class="front-slide offer">
        <img src="img/content/dress_3.jpg" alt="Кожанная юбка" class="offer__img">
        <div class="offer__category">
          <img class="offer__category-img" src="img/svg/flag-italy.svg" alt="">
          <div class="offer__category-name">new</div>
        </div>
        <div class="offer__text">
          <h3 class="offer__text-title">
            Розовое платье
          </h3>
          <p class="offer__text-description">
            Описание:Полосатая кофта из полосатого трикотажа. без молнии
          </p>

          <div class="offer__text-container">
            <div class="offer__size-container">
              <div class="offer__size-btns">
                <label class="offer__size-label">
                  <input type="radio" id="size-15" name="size-15" value="44" checked>
                  <span>44</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-16" name="size-15" value="46">
                  <span>46</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-17" name="size-15" value="48">
                  <span>48</span>
                </label>
              </div>
              <p class="offer__size-descr">РАЗМЕР</p>
            </div>

            <div class="offer__price">
              <div class="offer__price-container">
                <div class="offer__price-new">790 p.</div>
              </div>
              <button class="offer__price-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22">
                  <path id="basket_копия" d="M1743.8,1488a0.825,0.825,0,0,0,0,1.65h2.55l2.75,13.38a1.025,1.025,0,0,0,.83.92h13.35a0.825,0.825,0,0,0,0-1.65h-12.7l-0.34-1.65h14.1a0.828,0.828,0,0,0,.78-0.65l1.87-8.24a0.862,0.862,0,0,0-.78-1.01h-17.99l-0.44-2.1a0.83,0.83,0,0,0-.78-0.65h-3.2Zm4.75,4.4h4.85v2.47h-4.34Zm6.45,0h3.74v2.47H1755v-2.47Zm5.34,0h4.86l-0.56,2.47h-4.3v-2.47Zm-10.94,4.12h4V1499h-3.49Zm5.6,0h3.74V1499H1755v-2.48Zm5.34,0h3.93l-0.56,2.48h-3.37v-2.48Zm-7.74,7.98a2.751,2.751,0,1,0,2.67,2.75A2.726,2.726,0,0,0,1752.6,1504.5Zm8.01,0a2.751,2.751,0,1,0,2.67,2.75A2.719,2.719,0,0,0,1760.61,1504.5Zm-8.01,1.65a1.1,1.1,0,1,1-1.07,1.1A1.072,1.072,0,0,1,1752.6,1506.15Zm8.01,0a1.1,1.1,0,1,1-1.07,1.1A1.064,1.064,0,0,1,1760.61,1506.15Z" transform="translate(-1743 -1488)"/>
                </svg>
              </button>
            </div>
          </div>
        </div tabindex="0">
      </div>

      <div class="inside-slide">
        <table class="inside-slide__table">
          <tr>
            <td>Материал</td>
            <td>Хлопок</td>
          </tr>
          <tr>
            <td>Сезон</td>
            <td>Лето</td>
          </tr>
          <tr>
            <td>Страна-производитель</td>
            <td>Франция</td>
          </tr>
          <tr>
            <td>Длина</td>
            <td>Мини</td>
          </tr>
        </table>

        <a href="#" class="inside-slide__link">
          Перейти в карточку
        </a>
      </div>
    </div>

    <div class="swiper-slide offers__slide" data-target="new">
      <div class="front-slide offer">
        <img src="img/content/dress_4.jpg" alt="Кожанная юбка" class="offer__img">
        <div class="offer__category">
          <img class="offer__category-img" src="img/svg/flag-france.svg" alt="">
          <div class="offer__category-name">new</div>
        </div>
        <div class="offer__text">
          <h3 class="offer__text-title">
            Полосатая кофта
          </h3>
          <p class="offer__text-description">
            Описание:Полосатая кофта из полосатого трикотажа. без молнии
          </p>

          <div class="offer__text-container">
            <div class="offer__size-container">
              <div class="offer__size-btns">
                <label class="offer__size-label">
                  <input type="radio" id="size-18" name="size-18" value="44" checked>
                  <span>44</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-19" name="size-18" value="46">
                  <span>46</span>
                </label>
                <label class="offer__size-label">
                  <input type="radio" id="size-20" name="size-18" value="48">
                  <span>48</span>
                </label>
              </div>
              <p class="offer__size-descr">РАЗМЕР</p>
            </div>

            <div class="offer__price">
              <div class="offer__price-container">
                <div class="offer__price-new">790 p.</div>
              </div>
              <button class="offer__price-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22">
                  <path id="basket_копия" d="M1743.8,1488a0.825,0.825,0,0,0,0,1.65h2.55l2.75,13.38a1.025,1.025,0,0,0,.83.92h13.35a0.825,0.825,0,0,0,0-1.65h-12.7l-0.34-1.65h14.1a0.828,0.828,0,0,0,.78-0.65l1.87-8.24a0.862,0.862,0,0,0-.78-1.01h-17.99l-0.44-2.1a0.83,0.83,0,0,0-.78-0.65h-3.2Zm4.75,4.4h4.85v2.47h-4.34Zm6.45,0h3.74v2.47H1755v-2.47Zm5.34,0h4.86l-0.56,2.47h-4.3v-2.47Zm-10.94,4.12h4V1499h-3.49Zm5.6,0h3.74V1499H1755v-2.48Zm5.34,0h3.93l-0.56,2.48h-3.37v-2.48Zm-7.74,7.98a2.751,2.751,0,1,0,2.67,2.75A2.726,2.726,0,0,0,1752.6,1504.5Zm8.01,0a2.751,2.751,0,1,0,2.67,2.75A2.719,2.719,0,0,0,1760.61,1504.5Zm-8.01,1.65a1.1,1.1,0,1,1-1.07,1.1A1.072,1.072,0,0,1,1752.6,1506.15Zm8.01,0a1.1,1.1,0,1,1-1.07,1.1A1.064,1.064,0,0,1,1760.61,1506.15Z" transform="translate(-1743 -1488)"/>
                </svg>
              </button>
            </div>
          </div tabindex="0">
        </div>
      </div>
      <div class="inside-slide">
        <table class="inside-slide__table">
          <tr>
            <td>Материал</td>
            <td>Хлопок</td>
          </tr>
          <tr>
            <td>Сезон</td>
            <td>Лето</td>
          </tr>
          <tr>
            <td>Страна-производитель</td>
            <td>Франция</td>
          </tr>
          <tr>
            <td>Длина</td>
            <td>Мини</td>
          </tr>
        </table>

        <a href="#" class="inside-slide__link">
          Перейти в карточку
        </a>
      </div>
    </div>
  </div>

  <div class="swiper-pagination offers__swiper-pagination"></div>


</div>
</section>
